body {
    font-family: "Montserrat-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;

    background-color: #FFFFFF;

    max-width: 1440px;
    max-height: 4470px;

    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #AE7C78;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

dd {
    margin: 0;
}

.page-header {
    padding-top: 25px;
}

.main-nav {
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
}

.link-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-left: 120px;
    margin-right: 120px;
}

.link-nav a {
    display: block;
    padding: 16px;
}

.content-intro {
    display: flex;
    align-items: flex-start;

    height: 460px;

    margin: 0 120px;
}

.text-intro {
    margin-right: 20px;
}

.content-intro img {
    margin-right: 20px;
}

.tulips {
    align-self: flex-end;
}

.content-intro img:last-child {
    margin-right: 0;
}

.main-heading {
    font-family: "PlayfairDisplay-Regular", "Times New Roman", serif;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;

    margin: 0;
}

.intro p {
    margin-bottom: 94px;
}

.cursive {
    font-family: "PlayfairDisplay-Italic", "Times New Roman", serif;
    font-style: italic;
}

.link-nav a, .order-steps p, .title-reviews, .reviews p {
    text-align: center;
}

.intro {
    padding-top: 80px;
}

.intro p, .news p {
    font-size: 24px;
    line-height: 29px;
}

.pseudo-button {
    padding: 30px 70px;

    border-radius: 40px;
    background-color: #D89999;

    color: #FFFFFF;
}

.advantage {
    display: flex;
    justify-content: space-between;

    margin: 0 120px;
    padding-top: 50px;
}

.advantage-item {
    margin-left: 20px;
    margin-right: 55px;

    width: 300px;
}

.advantage-item:last-child {
    margin-right: 0;
}

.advantage dd {
    padding-top: 8px;
}

.advantage-item dt, .steps-item dt, .reviews cite, .bolder {
    font-family: "Montserrat-Medium", "Arial", sans-serif;
    font-weight: 500;
}

.popular {
    padding-top: 80px;
}

.title-popular, .title-order, .title-news, .title-reviews, .title-contacts {
    font-family: "PlayfairDisplay-Bold", "Times New Roman", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.subtitle-popular, .price {
    font-family: "Montserrat-Medium", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.arrow-left {
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;

    border: none;
}

.arrow-right {
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;

    transform: rotate(180deg);

    border: none;
}

.visually-hidden {
    opacity: 0;
}

.catalog-preview {
    padding-top: 75px;
}

.cards-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: 0 120px;
}

.card {
    width: 387px;
    height: 442px;

    margin-right: 19px;

    background-repeat: no-repeat;

    border-radius: 10px;
}

.card:last-child {
    margin-right: 0;
}

.card-products1 {
    background-image: linear-gradient(to top, rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)),
    url("../img/jpg/bridal-bouquet.jpg");
}

.card-products2 {
    background-image: linear-gradient(to top, rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)),
    url("../img/jpg/peony.jpg");
}

.card-products3 {
    background-image: linear-gradient(to top, rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)),
    url("../img/jpg/girl-with-flowers.jpg");
}

.text-card {
    display: block;

    margin-top: 183px;

    text-align: center;
    color: #FFFFFF;
}

.title-card {
    font-family: "PlayfairDisplay-Bold", "Times New Roman", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;

    margin: 0;
}

.description-card {
    margin: 8px;
}

.discount {
    padding-top: 80px;
}

.filling {
    display: flex;

    width: 1200px;
    height: 391px;

    margin: 0 120px;

    background-color: #AE7C78;
}

.text-discount {
    margin: 0 120px 0 102px;
}

.title-discount {
    font-family: "PlayfairDisplay-Regular", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    margin-top: 40px;
    margin-bottom: 25px;
}

.filling p {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.order-steps {
    padding-top: 50px;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
}

.steps-item {
    width: 279px;
    text-align: center;
    margin-top: 8px;
}

.steps dt {
    padding: 5px;
}

.title-order {
    text-align: center;
}

.news {
    padding-top: 80px;
}

.social span {
    display: inline-block;

    width: 32px;
    height: 20px;

    background-image: url("../img/svg/sprites-footer.svg");
    background-repeat: no-repeat;
}

.sprite-instagram {
    background-position: 0 0;
}

.sprite-facebook {
    background-position: -32px 0;
}

.sprite-twitter {
    background-position: -64px 0;
}

.reviews {
    height: 308px;

    margin: 80px 120px;

    border: 1px solid #AE7C78;
    box-sizing: border-box;
}

.title-reviews {
    margin: 40px 0 10px 0;
}

.text-reviews {
    display: flex;
    justify-content: space-between;
    padding: 0 0 63px 0;
    text-align: center;
}

blockquote {
    width: 300px;
}

cite {
    font-style: normal;
}

.contacts {
    background-image: url("../img/jpg/map.jpg");
    background-repeat: no-repeat;

    width: 1440px;
    height: 644px;

    border-top: 1px solid #FFFFFF;
}

.form-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 351px;
    height: 480px;

    background-color: #F7FAFC;
    box-shadow: 0 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;

    padding: 5px 0 35px 35px;
    margin: 52px 0 0 222px;
}

.title-contacts {
    margin: 0;
}

.form-contacts dt {
    padding-bottom: 17px;
}

.page-footer {
    background-color: #AE7C78;
}

.link-footer a {
    text-align: center;
    color: #FFFFFF;
}

.navigation-footer {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    column-gap: 105px;

    align-items: center;

    margin-left: 120px;
    margin-right: 120px;
}

.navigation-footer a {
    display: block;
    padding: 24px 2px 41px 2px;
}

.link-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social-footer {
    display: flex;
    justify-content: space-around;
}

.social-footer span {
    display: inline-block;

    width: 32px;
    height: 20px;

    background-image: url("../img/svg/sprites-news.svg");
    background-repeat: no-repeat;
}