body {
    font-family: "Montserrat-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;

    background-color: #FFFFFF;

    max-width: 1440px;
    max-height: 4470px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #AE7C78;
}

li {
    list-style: none;
}

.page-header {
    padding-top: 25px;
}

.main-nav {
    padding: 12px 0;

    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
}

.main-heading {
    font-family: "PlayfairDisplay-Regular", "Times New Roman", serif;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
}

.cursive {
    font-family: "PlayfairDisplay-Italic", "Times New Roman", serif;
    font-style: italic;
}

.link-nav a, .order-steps p, .title-reviews, .reviews p {
    text-align: center;
}

.intro {
    padding-top: 80px;
}

.intro p, .news p {
    font-size: 24px;
    line-height: 29px;
}

.pseudo-button {
    padding: 30px 70px;

    border-radius: 40px;
    background-color: #D89999;

    color: #FFFFFF;
}

.advantage {
    padding-top: 32px;
}

.fast-delivery {
    background-color: #FFFFFF;
    background-image: url("../img/svg/fast-delivery.svg");
    background-repeat: no-repeat;

    width: 400px;
}

.fresh-flowers {
    background-color: #FFFFFF;
    background-image: url("../img/svg/fresh-flowers.svg");
    background-repeat: no-repeat;

    width: 350px;
}

.photo-flowers {
    background-color: #FFFFFF;
    background-image: url("../img/svg/photo-flowers.svg");
    background-repeat: no-repeat;

    width: 370px;
}

.fast-delivery dt, .fresh-flowers dt, .photo-flowers dt, .order h3,
.details h3, .pay h3, .delivery h3, .reviews cite, .bolder {
    font-family: "Montserrat-Medium", "Arial", sans-serif;
    font-weight: 500;
}

.popular {
    padding-top: 80px;
}

.title-popular, .title-order, .title-news, .title-reviews, .title-contacts {
    font-family: "PlayfairDisplay-Bold", "Times New Roman", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.subtitle-popular, .price {
    font-family: "Montserrat-Medium", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.arrow-left {
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;

    border: none;
}

.arrow-right {
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;

    transform: rotate(180deg);

    border: none;
}

.visually-hidden {
    opacity: 0;
}

.catalog-preview {
    padding-top: 80px;
}

.card-products1 {
    width: 387px;
    height: 442px;

    background-image: linear-gradient(to top, rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)),
    url("../img/jpg/bridal-bouquet.jpg");
    background-repeat: no-repeat;

    border-radius: 10px;
}

.card-products2 {
    width: 387px;
    height: 442px;

    background-image: linear-gradient(to top, rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)),
    url("../img/jpg/peony.jpg");
    background-repeat: no-repeat;

    border-radius: 10px;
}

.card-products3 {
    width: 387px;
    height: 442px;

    background-image: linear-gradient(to top, rgba(174, 124, 120, 0.6), rgba(174, 124, 120, 0.6)),
    url("../img/jpg/girl-with-flowers.jpg");
    background-repeat: no-repeat;

    border-radius: 10px;
}

.title-card {
    font-family: "PlayfairDisplay-Bold", "Times New Roman", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.text-card {
    color: #FFFFFF;
}

.discount {
    padding-top: 80px;
}

.filling {
    width: 1200px;
    height: 391px;

    background-color: #AE7C78;
}

.title-discount {
    font-family: "PlayfairDisplay-Regular", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.filling p {
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.order-steps {
    padding-top: 80px;
}

.steps {
    width: 1200px;
    height: 145px;
}

.order {
    background-color: #FFFFFF;
    background-image: url("../img/svg/order.svg");
    background-repeat: no-repeat;

    width: 285px;
}

.details {
    background-color: #FFFFFF;
    background-image: url("../img/svg/clarification-of-details.svg");
    background-repeat: no-repeat;

    width: 285px;
}

.pay {
    background-color: #FFFFFF;
    background-image: url("../img/svg/payment.svg");
    background-repeat: no-repeat;

    width: 285px;
}

.delivery {
    background-color: #FFFFFF;
    background-image: url("../img/svg/fast-delivery.svg");
    background-repeat: no-repeat;

    width: 285px;
}

.news {
    padding-top: 80px;
}

.social span {
    display: inline-block;

    width: 32px;
    height: 20px;

    background-image: url("../img/svg/sprites-footer.svg");
    background-repeat: no-repeat;
}

.sprite-instagram {
    background-position: 0 0;
}

.sprite-facebook {
    background-position: -32px 0;
}

.sprite-twitter {
    background-position: -64px 0;
}

.reviews {
    margin-top: 80px;

    border: 1px solid #AE7C78;
    box-sizing: border-box;
}

.contacts {
    padding-top: 80px;
}

.form-contacts {
    width: 386px;
    height: 520px;

    background-color: #F7FAFC;
    box-shadow: 0 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
}

.page-footer {
    background-color: #AE7C78;
}

.link-footer a {
    text-align: center;
    color: #FFFFFF;
}

.social-footer span {
    display: inline-block;

    width: 32px;
    height: 20px;

    background-image: url("../img/svg/sprites-news.svg");
    background-repeat: no-repeat;
}